@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');



//  #d66695;
:root {
  font-family: baskervville-sc-regular;
  font-weight: 400;

  color-scheme: light dark;
  // background-color: rgb(206, 204, 204);
  background-color: rgb(218, 213, 213);
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: clip;
 

}

main{
  flex: 1;
}












//header 
.header{
  display: flex;
  background-color: rgb(174, 82, 102);
  // background-color: rgb(62, 62, 65);
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
  margin: 0;
}

.myName{
  display: flex;
  color: pink;
  padding-left: 20px;
  font-size: 150%;
  margin: 0;
  padding: 1px 0px 0px 20px;
}

.homePageLinks{
  display: flex;
  flex-direction: row;
  padding: 1px 0px 0px 0px;
  margin: 0;
}

.mainLink{
  display: flex;
  color: bisque;
  padding-left: 15px;
  font-size: 150%;
  margin: 0;
  padding-bottom: 0;
  padding-right: 20px;

}










//Home Page
.homeIntro{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 70px 0px 70px;
}

.introName{
  font-size: 425%;
  margin: 0;
  color: rgb(177, 38, 98);
}

.introLines{
  font-size: 200%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0px;
  margin-bottom: 0px;
}










//Resume

.resumeAll{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.inPageLinks{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fourLinksOne{
  display: flex;
  justify-content: space-between;
}

.fourLinksTwo{
  display: flex;
  justify-content: space-between;
}

.resumeLinkButton{
  border: 0cap;
  background-color: rgb(218, 213, 213);
  width: 150px;
  font-size: 150%;
  padding-top: 15px;
  padding-bottom: 10px;
}


.resumeAllSections{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

hr{
  border: none; 
  border-top: 2px solid #c9647a; 
  margin: 20px 0; 
}


.sectionHeader{
  display: flex;
  font-size: 275%;
  padding: 15px 0 10px 10px;
  margin: 0;
  text-decoration: underline;
}

//Skills


.skillTypeSection{
  display: flex;
  font-size: 225%;
  padding: 10px 0 7px 25px;
  margin: 0;
}

.technicalSkillType{
  display: flex;
  font-size: 140%;
  padding: 7px 0 7px 35px;
  margin: 0;
}

.skillInformation{
  display: flex;
  font-size: 140%;
  padding: 1px 0 2px 45px;
  margin: 0;
}

.transferableSkillTypeSection{
  display: flex;
  font-size: 225%;
  padding: 13px 0 0px 25px;
  margin: 0;
}

.transferableSkillInformation{
  display: flex;
  font-size: 140%;
  padding: 1px 0 2px 35px;
  margin: 0;
  &::before {
    content: '•'; 
    position: absolute;
    left: 58px;
    font-size: 1.5em; 
    line-height: 0.8; 
  }
}









//Work Experience 


.workHeader{
  display: flex;
  font-size: 225%;
  padding: 10px 0 7px 20px;
  margin: 0;
}


.workBusiness{
  display: flex;
  font-size: 140%;
  padding: 7px 0 7px 25px;
  margin: 0;
}


.keyAccomplishments{
  display: flex;
  font-size: 140%;
  padding: 3px 0 2px 35px;
  margin: 0;
}


.dutiesKey{
  display: flex;
  font-size: 125%;
  padding: 5px 0 5px 60px;
  margin: 0;

  &::before {
    content: '•'; 
    position: absolute;
    left: 58px;
    font-size: 1.5em; 
    line-height: 0.8; 
  }
}


.dutiesKeyPH6{
  display: flex;
  font-size: 125%;
  padding: 5px 0 5px 68px;
  margin: 0;

  &::before {
    content: '-'; 
    position: absolute;
    left: 67px;
    font-size: 1.5em; 
    line-height: 0.8; 
  }
}





.variousHeader{
  display: flex;
  font-size: 175%;
  padding: 25px 0 7px 15px;
  margin: 0;
  flex-direction: column;
}

.shortTimeJobHeader{
    display: flex;
    font-size: 150%;
    padding: 2px 0 3px 30px;
    margin: 0;
}

.shortKeyAccomplishments{
  display: flex;
  font-size: 135%;
  padding: 2px 0 0px 40px;
  margin: 0;
}


.shortTimeJobLocation{
  display: flex;
  font-size: 100%;
  padding: 2px 0 0px 50px;
  margin: 0;
}






//education 
.educationSchool{
    display: flex;
    font-size: 225%;
    padding: 7px 0 0px 20px;
    margin: 0;
}

.educationWhat{
  display: flex;
  font-size: 190%;
  padding: 0px 0 1px 37px;
  margin: 0;
}

.aboutEducation{
  display: flex;
  font-size: 150%;
  padding: 2px 0 20px 55px;
  margin: 0;
  font-weight: normal;
}








//language


.line{
  border: none; 
  border-top: 1px solid #c9647a; 
  margin: 0px 1000px 10px 10px; 
}

.languageHeader{
  display: flex;
  font-size: 225%;
  padding: 10px 0 2px 20px;
  margin: 0;
  font-weight: 150px;
}




.languageList{
  display: flex;
  flex-direction: column;
  font-size: 150%;
  padding: 10px 0 10px 50px;
  margin: 0;
  font-weight: normal;
}









//references
.allReferences {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  padding: 1px; 
 
}

.referenceSection {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  gap: 20px; 
  
}




.referenceEach {
  padding: 20px 10px 20px 10px; 
  flex: 1; 
}


.referenceName{
  margin: 0;
  font-size: 175%;
  padding-top: 0;
  margin: 0;
  position: relative;
  padding-left: 3px;
}

.referenceName::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 2px;
  background-color: #000; /* Change this color to whatever you prefer */
}


.aboutReference {
  list-style-type: disc; 
  padding-left: 20px; 
}

.aboutReference li {
  margin-left: 30px; 
  padding-left: 1px; 
}


.referenceInformation{
  margin: 0;
  padding: 0px 20px 0px 10px; 
  font-size: 125%;
}











//aboutMePage
.aboutMeAll{
  display: flex;
  flex-direction: row;
}

.aboutMeImage{
  max-width: 100%; 
  height: auto; 
  width: 1700px; 
  margin-left: 20px; 
  padding-right: 20px;
  padding-top: 15px;
}

.aboutMeHeader{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 300%;
  padding: 20px 15px 10px 15px;
  margin: 0;
}


.aboutMeSummaryBox{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 140%;
  padding: 20px 50px 0px 50px;
  margin: 0;
}

.myLinks{
  padding-top: 20px;
}

.link{
  padding: 0px 15px 0px 15px;
  color: rgb(177, 38, 98);
  font-size: 125%;
  
}


//projects


.allProject{
  display: flex;
  flex-direction: column;
  
}


.projectsHeader{
  display: flex;
  justify-content: center;
  font-size: 325%;
}

.projectName{
  display: flex;
  font-size: 225%;
  padding: 0px 0px 0px 20px;
  margin: 0;
}

.projectBody{
  display: flex;
  flex-direction: row;
}


.projectInformation{
  display: flex;
  flex-direction: column;
}


.desKeyHeader{
  display: flex;
  font-size: 175%;
  padding: 10px 0px 10px 30px;
  margin: 0;
}

.desKey{
  display: flex;
  font-size: 125%;
  padding: 10px 0px 0px 40px;
  margin: 0;
}






// .projectImage{
//   display: flex;
//   justify-content: right;
//   height: 10px;
//   width: 10px;
// }


.projectBody {
  display: flex;
  align-items: flex-start;
  gap: 20px; 
}

.projectImage {
  max-width: 100%; 
  height: auto; 
  width: 700px; 

  margin-left: 20px; 
  padding-right: 20px;
  padding-top: 65px;
}



.blank {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: end;
  padding: 15px 20px 30px 0px; 
}

.backToTopButton {
  padding: 15px 25px 25px 0px; 
  font-size: 20px;
  background-color: rgb(206, 204, 204);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backToTopButton:hover {
  opacity: 1;
}













//footer
.footer{
  display: flex;
  // background-color: rgb(62, 62, 65);
  // background-color: rgb(211, 116, 137);
  background-color: rgb(206, 204, 204);;
  flex-direction: row;
  justify-content: center;
  color: rgb(211, 116, 137);
  font-size: 125%;
  padding-top: 10px;
  margin: 0;
}


//home page 








