/* Tabs.scss */
.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    .tab-buttons {
      display: flex;
      margin-bottom: 1.5%;
    
    }
  
    .tab-button {
      padding: 10px 20px;
      background-color: #d66695;
      border: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      font-weight: normal;
      margin-right: 8px;
      transition: all 0.3s ease;
      border-radius: 2px;
      font-size: 100%;
      font-weight: bold;
  
      &:hover {
        background-color: blanchedalmond;
      }
  
      &.active {
        font-weight: bold;
        border-bottom: 2px solid #d66695;
        background-color: blanchedalmond;
      }
    }
  
    .tab-content {
      display: none;
  
      &.active {
        display: block;
      }
    }
  
    .close-tab-button {
      margin-top: 10px;
      background-color: rgb(81, 81, 81);;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 100px;
  
      &:hover {
        background-color: #d66695;
      }
    }
  }
  